$base-color: #ffff;
$active-color : #3886c9;
$hover-color : #438bca;
a {
    text-decoration: none;
    color: $base-color;

    &.active{
        color: $active-color;
    }

    &:hover{
        color: $hover-color;
        transition: 0.3s;
    }
}

h6{
    color: $active-color;
    font-weight: 700!important;
}