@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$base-color : #282c34;
$active-color : #3886c9;
$hover-color : #0e5ca0;
$font-stack: "Roboto", sans-serif;

body {
  font: 100% $font-stack;
  font-weight: normal;
}

.content {
  margin-top: 10%;
}

h1, h2, h3, h4,h5 {
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 15px;
    margin-bottom: 0;
    color : $base-color!important;
    
}

h2 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 800;
    text-transform: uppercase;
}

div {
  &.header {
    padding-bottom: 5px;
  }
  h2.title {
    padding-bottom: 15px;
  }
}

div.body{
  p {
    margin-top: 30px;
    font-size: 17px;
  }

  hr {
    height: 1px;
    margin-bottom: -1px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #ececec;
    margin-top: 40px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 15px;
    font-size: 20px;
    color : $base-color!important;
  }

  span.imgSubTitle{
    font-size: 18px;
    font-weight: 300;
    color:#6d6d6d;
    text-align: center;
  }

  a {
    text-decoration: none;
    color : $active-color;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    &:hover{
      border-bottom-color: #1a1a1a;
      color: $hover-color;
    }
  }
  
}
span.subTitle {
    font-size: 18px;
    font-weight: 300;
    color:#6d6d6d;
}

.Diag {
  width: 75%;
  height: 75%;
  margin:0 auto;
}

.sideBarLink{
  text-decoration: none;
  color : $base-color;
  &:hover{
      color: #6d6d6d;
    }
  &.active span{
     color : $base-color;
     font-weight: bold;
  }
}

li{
    padding: 10px 0px;
  }

p.taille{
  padding: 0px 50px;
}

svg {
  box-sizing: initial;
}
