/*
*
* ==========================================
* APP.SCSS
* ==========================================
*
*/

/*
    Body
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$base-color : #282c34;
$active-color : #3886c9;
$hover-color : #0e5ca0;
$font-stack: "Roboto", sans-serif;

body {
  font: 100% $font-stack;
  font-weight: normal;
}

.content {
  margin-top: 10%;
}

h1, h2, h3, h4,h5 {
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 15px;
    margin-bottom: 0;
    color : $base-color!important;
    
}

h2 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 800;
    text-transform: uppercase;
}

div {
  &.header {
    padding-bottom: 5px;
  }
  h2.title {
    padding-bottom: 15px;
  }
}

div.body{
  p {
    margin-top: 30px;
    font-size: 17px;
  }

  h6 {
    color: #000000;
    text-transform: none;
  }


  span.imgSubTitle{
    font-size: 18px;
    font-weight: 300;
    color:#6d6d6d;
    text-align: center;
  }

  a {
    text-decoration: none;
    color : $active-color;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    &:hover{
      border-bottom-color: #1a1a1a;
      color: $hover-color;
    }
  }
  
}
span.subTitle {
    font-size: 18px;
    font-weight: 300;
    color:#6d6d6d;
}

.Diag {
  width: 75%;
  height: 75%;
  margin:0 auto;
}

.sideBarLink{
  text-decoration: none;
  color : $base-color;
  &:hover{
      color: #6d6d6d;
    }
  &.active span{
     color : $base-color;
     font-weight: bold;
  }
}

li{
    padding: 10px 0px;
  }

p.taille{
  padding: 0px 50px;
}

svg {
  box-sizing: initial;
}

.MuiAppBar-colorPrimary {
  background-color : #3f51b5!important;
}

/*
    style élément de rupture 
*/

hr.dashed {
    border-top: 2px dashed #999;
}

hr.dotted {
    border-top: 2px dotted #999;
}

hr.solid {
    border-top: 2px solid #999;
}


hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
    margin: 80px 0;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*
    Style de card-produit.components
*/

.card-img-top {
    cursor: pointer;
    margin: auto;
    height: 170px!important;
    width: 170px!important;
}

.card-text {
  color:rgb(153, 153, 153);
  font-size: 12px;
  padding-bottom: 100px;
}

.card-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  color:
  rgb(48, 48, 48);
  overflow: hidden;
  font-size: 14px;
}

.card-paragraph{
  font-size: 12px;
}
img.card-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
}

.modal-body{
  padding: 80px 0px !important;
}

.price{
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  margin: 3px 0px;
  color: #000000;
}

p.taille {
  padding-bottom: 25px!important;
  font-weight: bold;
}

.MuiPaper-root {
    z-index: 100;
}

.card-deck {
    margin-left: 0px!important;
    margin-bottom: 25px;
}